# fraud detection (binary classification)

In [6]:
# importing libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [7]:
# reading pre uploaded dataset, link to it here: https://github.com/amankharwal/Website-data/blob/master/payment_fraud.csv
df = pd.read_csv('/payment_fraud.csv')
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0

In [8]:
df.describe

<bound method NDFrame.describe of        accountAgeDays  numItems  localTime paymentMethod  \
0                  29         1   4.745402        paypal
1                 725         1   4.742303   storecredit
2                 845         1   4.921318    creditcard
3                 503         1   4.886641    creditcard
4                2000         1   5.040929    creditcard
...               ...       ...        ...           ...
39216             986         1   4.836982    creditcard
39217            1647         1   4.876771    creditcard
39218            1591         1   4.742303    creditcard
39219             237         1   4.921318    creditcard
39220             272         1   5.040929        paypal

       paymentMethodAgeDays  label
0                 28.204861      0
1                  0.000000      0
2                  0.000000      0
3                  0.000000      0
4                  0.000000      0
...                     ...    ...
39216              0.000000      0
39217            377.930556      0
39218              0.000000      0
39219            236.082639      0
39220              0.000694      0

[39221 rows x 6 columns]>

slight data preparation because of the string column 'paymentMethod'

In [9]:
df['paymentMethod'].unique()

array(['paypal', 'storecredit', 'creditcard'], dtype=object)

In [10]:
df['paymentMethod'] = df["paymentMethod"].replace('paypal', 1)
df['paymentMethod'] = df["paymentMethod"].replace('storecredit', 2)
df['paymentMethod'] = df["paymentMethod"].replace('creditcard', 3)
df['paymentMethod']

0        1
1        2
2        3
3        3
4        3
        ..
39216    3
39217    3
39218    3
39219    3
39220    1
Name: paymentMethod, Length: 39221, dtype: int64

the 'label' column would be dropped because it is not a feature so df['label'] is our y

In [11]:
# spliting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.2, random_state=1)

In [12]:
# calling out linear model
model = LogisticRegression().fit(X_train, y_train)

In [13]:
# predicting on test data
y_pred = model.predict(X_test)

# getting the accuracy with sklearn package
print(accuracy_score(y_pred, y_test))

print(confusion_matrix(y_test, y_pred))

1.0
[[7735    0]
 [   0  110]]